@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

:root {
  --clean: #dfdce3;
  --fresh: #4abdac;
  --verm: #fc4a1a;
  --sunshine: #f7b733;
}

body {
  background-color: var(--fresh);
  color: var(--clean);
  padding: 5%;
}

hr {
  border-color: var(--verm);
}

.title h1 {
  font-size: 3rem;
  text-shadow: 2px 2px black;
}

.date {
  text-shadow: 1px 1px black;
}

table {
  border-collapse: collapse; /* Collapse cell borders */
  width: 100%; /* Make the table fill its container */
}

th,
td {
  border: 1px solid black; /* Add a border to table header and data cells */
  padding: 8px; /* Add space around the cell content */
  text-align: left; /* Left-align text within cells */
  background-color: var(--clean); /* Add a background color to table headers */
  color: black;
}

th {
  color: var(--sunshine);
  background-color: var(--verm);
}

.scheduleContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
